target/
*.class
.project
.classpath
.settings/
.idea/
*.iml
*.log
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
*.db
!schema.sql
/.tokens/
/.vscode/
/client_secret.json
/dependency-reduced-pom.xml
/exported_samples/
/log/
/docs/
/tests/